body
{
    background-image: url("img/dark-honeycomb.png"); /* Background pattern from Toptal Subtle Patterns */
    color: white;

    font-size: 20px;
}

input[type=text],
input[type=password]
{
    width: 300px;
    background-color: rgb(56, 56, 56);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    color: white;
    margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
<<<<<<< HEAD
    border: 2px solid rgb(34, 34, 34);
=======
    border: 2px solid rgb(37, 77, 23);
    background-color: #345536;
>>>>>>> 5a2f78376d1a9b191fb6db37cb3d7823a593f157
}

input[type=submit]
{
    background-color: #2b8530;
    width: 300px;
    padding: 15px 10px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(102, 102, 102, 0.9);  
}

input[type=submit]:hover
{
    background-color: rgb(47, 158, 52);
}


.container
{
    background-color: rgb(34, 34, 34);
    width: 300px;
    padding: 50px;
    margin: 200px auto 0px;
    -webkit-box-shadow: 4px 4px 112px -12px rgba(94,94,94,0.9);
    -moz-box-shadow: 4px 4px 112px -12px rgba(94,94,94,0.9);
    box-shadow: 4px 4px 112px -12px rgba(94,94,94,0.9);
    
}